body {
   padding: 0px 250px;
   /* background-color: aquamarine; */
}

.content {
    background-color: rgb(152, 190, 190);
    padding: 20px;
    border-radius: 15px;
}

label {
    font-size: 22px;
}

input {
    background: none;
    font-size: 18px;
    padding: 0 10px;
    border-radius: 8px;
    border: 1px;
    outline: none;
}

.entradas{
    width: 300px;
    margin: 10px auto;
    margin-bottom: 15px;
    background: white;
    border-radius: 8px;
}

h1, form {
    text-align: center;
}

button {
    background: rgb(24, 158, 75);
    width: 150px;
    height: 50px;
    margin: 20px;
    border-radius: 8px;
    border: none;
    font-size: 18px;
}

#borrar{
    width: 150px;
    height: 50px;
    border-radius: 8px;
    background: rgb(158, 24, 24);
    color: beige;
}

fieldset{
    border-radius: 15px;
    padding: 50px;
}


.resultado {
    margin: auto;
    display: flex;
    justify-content:space-around;
}

.resultado input{
    color: rgb(36, 36, 36);
}